body{
  background: url(stars.jpg) no-repeat center fixed;
  background-size: cover;
}

.display-1 {
  text-align: center;
  color: white;
}
.display-6 {
  text-align: center;
  color: white;
}
.container-fluid {
    padding-right:300px;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }


header {
  background-color: rgb(2, 3, 41);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
.card {
background: transparent;
height: 240px;
color: white;

}