body{
  background: url(stars.jpg) no-repeat center fixed;
  background-size: cover;
}

.display-1 {
  text-align: center;
  color: white;
}
.display-6 {
  text-align: center;
  color: white;
}
.container-fluid {
    padding-right:300px;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }


header {
  background-color: rgb(2, 3, 41);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
.card {
background: transparent;
height: 150px;
width: 150px;
color: white;

}

.card-img-top {
  width: 200px;
  height: 220px;
}

.card-body {
  width: 200px;
}

.card-group {
  max-width: 1200px;
  margin: 0 auto;
}

.d-grid {
  top: 75%;
  display: block;
  margin: 0 auto;
}

footer {
  background-color: rgb(2, 3, 41);
  color: white;
  font-size: 0.9em;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}